<!-- <h1>{{firstName}}</h1>
<br>
<input type="text" [(ngModel)]="firstName">


<h3 style.color = "{{color}}">This is Red</h3>

<p>You Have been clicked : {{clickCount}}</p>
<p>Copy of click count : {{clickCount2}}</p>

<button (click) = "clickMe(); clickCount2=clickCount">Click Me</button> -->


<!-- <input type="text" (input)="handleInput($event); value1=$any($event.target).value">
<p>With handle input: {{value}}</p>
<p>Without handle  input: {{value1}}</p> -->


<!-- This is for ngFor directive example -->
<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    {{title}}
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Users</th>
            <th>age</th>
            <th>occupation</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'table-danger': o ,'table-warning': e, 'table-success':f,'table-info':l }"
            *ngFor="let user of users; let i = index; let o = odd; let e = even; let f = first; let l = last">
            <td>{{i + 1}}</td>
            <td>{{title}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.occupation}}</td>
            <td>{{user.location}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<button class="btn btn-primary">Click me!</button> -->

<!-- ngSwitchCase -->
<!-- <label for="">Type Num</label>
<input type="text" [(ngModel)]="num">
<div [ngSwitch]="num">
    <div *ngSwitchCase="1"> One </div>
    <div *ngSwitchCase="2"> Two </div>
    <div *ngSwitchCase="3"> Three </div>
    <div *ngSwitchCase="4"> Four </div>
    <div *ngSwitchCase="5"> Five </div>
    <div *ngSwitchCase="6"> Six </div>
    <div *ngSwitchCase="7"> Seven </div>
</div> -->

<!-- <h1>ngIf Example</h1>
<p *ngIf="true">Can you see me</p>

<div>
    <label for="">Check Box</label>
    <input type="checkbox" [(ngModel)]="showMe">
</div> -->
<!-- <p *ngIf="showMe; else elseBlock">Showme is checked</p> -->
<!-- <p *ngIf="!showMe">showme is unchecked</p> -->



<!-- <p *ngIf="showMe; else elseBlock">Showme is checked</p>
<ng-template #elseBlock>
    <p>showme is unchecked</p>
</ng-template>


<div *ngIf="showMe; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
<p>Showme is checked</p>
</ng-template>

<ng-template #elseBlock>
    <p>showme is unchecked</p>
</ng-template> -->

<!-- Red<input type="checkbox" [(ngModel)]="enableRed">
Big<input type="checkbox" [(ngModel)]="enableBig">
Italic<input type="checkbox" [(ngModel)]="enableItalic">


<div [ngClass]="{'primary':enableRed, 'big':enableBig,'italics':enableItalic}">
Vishnu
</div> -->


<!-- <h2 [ngStyle]="{'color':status == 'error' ? 'red' : 'blue'}">Vishnu</h2> -->

<!--*************************************************PIPES STARTED********************************************-->
<!--! Pipes -->
<!--? Datepipe - Change the Date value-->
<!-- <p>Unformatted date:{{toDate}}</p>
<p>formatted date:{{toDate | date}} </p>
<p>medium date:{{toDate | date:'medium'}} </p>
<p>short date:{{toDate | date:'short'}} </p>
<p>full date:{{toDate | date:'fullDate'}} </p>
<p>long date:{{toDate | date:'longDate'}} </p> -->

<!--? UPPERCASE,lowercase pipes -->
<!-- <p>UPPERCASE : {{message | uppercase}} </p>
<p>lowercase : {{message | lowercase}} </p> -->

<!--? Slice pipe -->
<!-- <p>Original: {{message}}</p>
<p>Sliced: {{message | slice:7:14}}</p>
<p>Sliced: {{message | slice:-7}}</p>
<p>Sliced: {{message | slice:0:7}}</p> -->

<!--? Currency pipe -->
<!-- <p>Price : {{Currency}}</p>
<p>Price : {{Currency | currency}}</p>
<p>Price : {{Currency | currency:'INR'}}</p>
<p>Price : {{Currency | currency:'LKR'}}</p>
<p>Price: {{Currency | currency:'INR':false}}</p> -->