<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="../favicon.ico" alt="" style="height: 30px; width: 30px;"></a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar=""
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"
            >Reactive Form</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Template Driven Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post & Get Data from json server</a>
        </li>
      </ul>
      <!-- Left links -->
      <!-- Search form -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- <h1>app components works</h1>
<app-hello-world></app-hello-world> -->

<!--?Parent app-form component -->
<!-- <app-form></app-form> -->

<!--? This time list component are parent element -->
<!-- <app-list></app-list> -->

<!--? Lifecycle Hooks example -->
<!-- <h3>App Component</h3>
Title : <input type="text" [(ngModel)]="title">
<button (click)="addTitle()">Submit</button>
<br>
Disable Heading: <input type="checkbox" [(ngModel)]="disbleHeading">
<br>
<br> -->
<!--? ngDoCheck hook ikkaka change panninathu... -->
<!-- <app-heading [text] = 'title'></app-heading> -->
<!-- <app-heading [text] = 'titles' *ngIf="!disbleHeading"></app-heading> -->

<!-- <br>
<br> -->
<!--? app-template-driven-form selector added -->
<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <br>
<br> -->

<!-- <app-user-list></app-user-list> -->
<app-reactive-form></app-reactive-form>

<app-template-driven-form></app-template-driven-form>

<app-user-list></app-user-list>


<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:black; color: red;">
    My Linkedin
    <a class="text-danger" href="https://www.linkedin.com/in/ananthakumar-vishnurathan/">Vishnu</a>
  </div>
  <!-- Copyright -->
</footer>